body {
    text-align: center;
}

table.wrapper {
    text-align: center;
    border-collapse: collapse;
    border: none;
    margin: 0pt;
    padding: 0pt;
    width: 100%;
} 

table.standings {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-family: serif;
    max-width: 98vw;
}


p {
    text-align: center;
}

small {
    font-size: xx-small;
}

h2 { 
    font-family: helvetica; 
    font-size: large;
    text-align: center;
}

h3 { 
    font-family: helvetica; 
    font-size: medium;
}


th {
    background-color: #F9F9F0;
}

th.solved {
    text-align: center;
    width: 2em;
}

th.penalty {
    text-align: center;
    padding-right: 10pt;
    width: 2em;
}

th.party {
    text-align: left;
    padding-left: 10pt;
}

th.rankl {
    text-align: center;
    padding-left: 10pt;
    width: 2em;
}

th.problem {
    text-align: center;
    width: 2em;
}

td {
    text-align: center;
}

td.solved {
    text-align: right;
}

td.penalty {
    text-align: right;
    padding-right: 10pt;
}

td.ioiprob {
    text-align: center;
    padding-left: 5pt;
    padding-right: 5pt;
}

td.party {
    text-align: left;
    padding-left: 10pt;
}

td.partyOther {
    text-align: left;
    padding-left: 10pt;
    color: grey;
}

td.rankl {
    text-align: right;
    padding-left: 10pt;
    padding-right: 10pt;
}

td.problem {
    text-align: center;
}

b {
    color: #c06060;
    font-weight: normal;
}

i {
    color: green;
    font-style: normal;
}

em {
    color: blue;
    font-style: normal;
    background: yellow;
}

u {
    color: #406090;
    font-style: normal;
    text-decoration: none;
}

i.first-to-solve {
    display: block;
    background-color: #c0ffc0;
    font-style: normal;
}

s {                        
    font-style: normal;
    text-decoration: none;
    font-size: x-small;
}

.row-win-0 { background-color: #fff1bc; }
.row-win-1 { background-color: #fffbea; }
.row-prize-0 { background-color: #e4f8f3; }
.row-prize-1 { background-color: #f5ffff; }
.row-selected-0 { background-color: #c8e8f8; }
.row-selected-1 { background-color: #d0f0ff; }

.row00 { background-color: #f8f8f8; }
.row01 { background-color: #ffffff; }
.row10 { background-color: #c8e8f8; }
.row11 { background-color: #d0f0ff; }

.standings > thead { border-bottom: solid 1px silver; }
.standings > tfoot { border-top:    solid 1px silver; }

.other-report {
	font-size: small;
	margin-left: 2px;
	margin-right: 2px;
}

.first-in-group { border-left: solid 1px silver;}

.table-menu {
	margin: 0px;
	display: inline-table;
}

.td-href {
	display: block;
	text-decoration: none;
	color: #000000d9;
	width: 100%;
}

.tm-td-selected, .tm-td:hover {background-color: lightblue;}

td.stat {
    text-align: right;
    padding-right: 10pt;
	color: #888888;
}

td.footstat {
    text-align: center;
    padding-left: 4pt;
    padding-right: 4pt;
	color: #888888;
}
