@charset "UTF-8";

.nav {
	width: 260px;
	min-width: 260px;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	margin: 0;
	right: -280px;
	padding: 15px 20px;
	-webkit-transition: right 0.3s;
	-moz-transition: right 0.3s;
	transition: right 0.3s;
	background: #fff;
	z-index: 2000;
}

/*Кнопка переключения*/
.nav-toggle {
	position: absolute;
	right: 0;
	top: 1em;
	padding: 0.5em;
	background: inherit;
	color: #1f6feb;
	cursor: pointer;
	font-size: 1.2em;
	line-height: 1;
	z-index: 2001;
}

/*символ Unicode (TRIGRAM FOR HEAVEN)*/
.nav-toggle:after {
	content: '\2630';
	text-decoration: none;
}

/*Скрытый чекбокс (флажок)*/
[id='nav-toggle'] {
	position: absolute;
	display: none;
}

/*checked*/
[id='nav-toggle']:checked~.nav {
	height: 100%;
	right: 0;
	box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.5);
	overflow-y: auto;
}

/*крестик (MULTIPLICATION X)*/
[id='nav-toggle']:checked~.nav-toggle:after {
	content: '\2715';
}

.custom-name {
	display: none;
}

.custom-fieldset {
	position: relative;
	border: 2px solid #1f6feb;
	padding: 5px;
	margin: 5px;
	border-radius: 8px;
	width: 235px;
}

.button {
	position: relative;
	border: 2px solid #1f6feb;
	padding: 5px;
	margin: 5px;
	border-radius: 8px;

	background-color: #1f6feb;
	outline: none;
	color: #fff;
	text-align: center;
	cursor: pointer;

	inline-size: 100%;
	font-size: 1.1428571429em;
	width: 250px;
}

.custom-legend {
	position: absolute;
	top: -12px;
	left: 15px;
	background-color: #fff;
	padding: 0 10px;
	font-size: 14px;
	color: #1f6feb;
	font-family: sans-serif;

}

.custom-input {
	width: 97%;
	padding: 5px;
	font-size: 16px;
	border: none;
	background-color: #fff;
	outline: none;
}